{% extends "base.html" %}

{% block content%}
    <div class="container dash-con">
        <div class="row">

            <div class=""> 
                <h3>DashBoard</h3>
                <span>Current Model : Model Hash</span> <br>
                <span>Total Contribution : {{model_no}} </span>
            </div>
            
            <div class="col-md-4 ">
                <div class="col-md-12 box">
                    <a href="/initialTraining">Initiate Model</a>
                </div>
             </div>

             <div class="col-md-4 ">
                <div class="col-md-12 box">
                 <a href="/train">Contribute</a>
                </div>
             </div>

            <div class="col-md-4">
               <div class="col-md-12 box">
                    <a href="/query">Make A Query</a>
               </div>
            </div>


            

            <div class="col-md-4 ">
                <div class="col-md-12 box">
                    <a href="/printchain">Current Chain</a>
                </div>
             </div>


             <div class="col-md-4 ">
                <div class="col-md-12 box">
                    <a href="/metrics">Model Metrics</a>
                </div>
             </div>


             <div class="col-md-4 ">
                <div class="col-md-12 box">
                    <a href="/analysis">Analytics</a>
                </div>
             </div>
             
        </div>
    </div>    

{% endblock %}

