{% extends "base.html" %}

{% block content%}
    <div class="container">
        <div class="row">
            
            <div class="col-md-4 ">
                <div class="col-md-12 box">
                    <a href="/initialTraining">Initiate Model</a>
                </div>
             </div>

            <div class="col-md-4">
               <div class="col-md-12 box">
                    <a href="/query">Make A Query</a>
               </div>
            </div>


            <div class="col-md-4 ">
               <div class="col-md-12 box">
                <a href="/train">Train Model</a>
               </div>
            </div>

            <div class="col-md-4 ">
                <div class="col-md-12 box">
                    <a href="/printchain">Current Chain</a>
                </div>
             </div>


             <div class="col-md-4 ">
                <div class="col-md-12 box">
                    <a href="/metrics">See Model Metrics</a>
                </div>
             </div>


             <div class="col-md-4 ">
                <div class="col-md-12 box">
                    <a href="/analysis">See Analytics</a>
                </div>
             </div>
             
        </div>
    </div>    

{% endblock %}

