{% extends "base.html" %}

{% block content%}
 
<div class="background-holder">
    <div class="container">

        <div class="row text-center">
    
                <h3 class="welcome mb-4">Welcome to Distributed Online Machine Learnign Platform</h3>
                <div class="col-md-6 box-parent">
                   <div class="col-md-12 box-2">
                        <a href='/dashboard' class="btn-2 btn btn-outline-success mb-3">Go To Dashboard</a> <br>
                        <a href='/register' class="btn-2 btn  btn-outline-success">Register</a>
                   </div>
                </div>
    
                <div class="col-md-6">
                   <div class="col-md-12">
                    <img class="img-fluid" src="{{url_for('static', filename='cover.png')}}" alt="background-cover">
                   </div>
                </div>
    
            </div>
    
        </div>
    
    </div>
</div>
{% endblock %}    



   