{% extends "base.html" %}

{% block content%}
    <div class="container dash-con">
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="mb-4 ">
                    <h3>Improve the model with more data </h3>
                    <p>Your UserID :  <span class="username"> {{user}} </span> </p>
                    <p>Your Role : <span class="username"> {{role}} </p>

                    {% if role == 'Regulator' %}
                        <p class="text-success"> Regulator can contribute to the model training </p>
                    {% elif role == 'Contributor' %}
                        <p class="text-success"> Contributor can contribute to the model training </p>
                    {% else %}
                        <p class="text-danger"> Only regulator and contributor can contribute to the model </p>
                    {% endif %}
                </div>

                <form action="" class="" method="post" enctype="multipart/form-data">
                    <input class="form-control mb-4" type="file" name="csvfile" value="">
                    <div class="">
                        <input type="submit" name="" value="Submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
            
            
        </div>
    </div>    
{% endblock %}

